.v-application {
    color: rgba(var(--v-theme-primary));
}

.ls-1 {
    letter-spacing: 1px !important;
}

a {
    color: rgba(var(--v-theme-primary-darken-2));
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: rgba(var(--v-theme-primary));
    }
}

.v-table {
    border: 2px solid rgba(var(--v-theme-secondary-lighten-1));

    thead {
        background: rgba(var(--v-theme-secondary-lighten-1));

        th {
            font-size: 15px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            cursor: pointer;
            color: rgba(var(--v-theme-primary-darken-2));

            &:hover {
                color: rgba(var(--v-theme-primary));
            }
        }
    }

    td {
        border-color: rgba(var(--v-theme-secondary-lighten-1)) !important;
        letter-spacing: 1.1px;
        font-size: 15px;
    }
}
