.v-application {
    color: rgba(var(--v-theme-primary));
}

.ls-1 {
    letter-spacing: 1px !important;
}

a {
    color: rgba(var(--v-theme-primary-darken-2));
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: rgba(var(--v-theme-primary));
    }
}
